<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>


<h1> Questions </h1>

<input type="text" id="name"/>

		<form th:object="${question}" th:action="@{save}" action="#" method="post">
		  	<label for="name">Question</label>
			<input type="text" id="question" th:field="*{question}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>

</form>

<table class="table table-striped">
<tr>
<th>Question</th>

</tr>

<tr th:each = "question : ${questions}">
<td th:text="${question.question}"></td>





</tr>
</table>

</body>

</html>