<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>
	<p th:text="${quiz.name}"</p>
	</h2>
	<div>
	
	
		<form th:object="${question}" th:action="@{/savequestion/{id}(id=${id})}" action="#" method="post">
			<!-- ID-FIELD IS HIDDEN FROM USER -->
			<!-- <input type="hidden" th:value=${parentquiz.quizId} th:field="*{quiz.quizId}" class="form-control"/> -->
			<input type="hidden" th:field="*{quiz.quizId}" class="form-control"/>
			<!-- TAKE NEW QUESTION INPUT FROM USER -->
		  	<label for="questionText">Add new question</label>
			<input type="text" th:field="*{questionText}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="save"></input>	
		</form>		
		<div style="clear: both; display: block; height: 10px;"></div>
			<form th:action="@{../}" action"#">
				<input type="submit" value="back"></input>	
		
		<table>

		<div style="clear: both; display: block; height: 10px;"></div>
		<b> Questions: </b>
		<tr th:each="question : ${questions}">
		<td th:text="${question.questionText}"></td>
	
		
		</tr>
		</table>
		

</body>
</html>