<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Server Programming with Spring Boot</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
	
	<h1> Create new quiz </h1>
	
			<form th:object="${quiz}" th:action="@{/savequiz}" action="#" method="post">
			<!-- Quiz name -->
		  	<label for="name">Quiz name</label>
			<input type="text" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="save"></input>	
		</form>		
		
		
		<table>
		<tr>
		<th>Name</th>
		</tr>
		<tr th:each="quiz : ${quizzes}">	
		<td><a th:href="@{/quiz/{id}(id=${quiz.quizId})}" th:text="${quiz.name}"></a></td>
		
		</tr>
		</table>
		
		
		
	
	<!-- Datan näyttäminen
	<table>
			<tr>
			<th>Quiz name</th>
			<th>Quiz ID</th>
			</tr>
			<tr th:each= "quiz : ${quizzes}">
			<td th:text="${quiz.name}"></td>
			<td th:text="${quiz.quizId}"></td>
			</tr>
			<tr>
			<th>Question name</th>
			<th>Question.quiz ID</th>
			<th>Question ID</th>
			
			<tr th:each="question : ${questions}">
			<td th:text="${question.questionText}"></td>
			<td th:text="${question.quiz.quizId}"></td>
			<td th:text="${question.questionId}"></td>
			</tr>
			
			
		</table>
	-->

	
		
		

	
		

		
	</body>
</html>