<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Server Programming with Spring Boot</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
	
	<h1> Create new quiz </h1>
	
			<form th:object="${quiz}" th:action="@{savequiz}" action="#" method="post">

			<!-- Quiz name -->
		  	<label for="name">Quiz name</label>
			<input type="text" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="save"></input>	
		</form>		
	
		
		

		<a href="/add">Add question</a>
		

		
	</body>
</html>